details > p {
    padding: 1px;
    background-color: greenyellow;
}
details > div {
    padding: 1px;
    background-color: yellow;
}
details > summary {
    background-color: lavender;
    font-size: x-large;
}


details summary > * {
    display: inline;
    font-size: xx-large;
  }
